<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chef Choice</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <a href="#content" class="skip-link" tabindex="1">Skip to content ?</a>
    <!-- Navbar -->
    <header class="header">
      <nav class="nav">
        <h1 class="nav__header">Chef Choice</h1>
        <button
          id="menu"
          class="header__menu"
          tabindex="2"
          alt="Hamburger Button"
        >
          ☰
        </button>
        <ul id="drawer" class="nav__list">
          <li class="nav__item"><a href="#" class="text">Home</a></li>
          <li class="nav__item"><a href="#" class="text">Favorite</a></li>
          <li class="nav__item">
            <a href="https://discord.io/MUFFIN_" target="_blank" class="text"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- Jumbotron -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Chef Choices</h1>
        <p class="hero__tagline">
          Jelajahi berbagai macam Restoran dengan berbagai cita rasa pilihan
          Chef
        </p>
      </div>
    </div>
    <!-- Content -->
    <main id="content">
      <section class="content">
        <div class="explore">
          <div class="explore__label">
            <h1>Explore Restaurant</h1>
            <div class="posts"></div>
          </div>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <footer>
      <p>Chef Choice &#169; 2023, by Muhammad Nur Ilmi</p>
    </footer>
  </body>
</html>
